html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background: #152347;
}

div{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

#navbar{
    width: 100%;
    font-size: 1.25vw;
    font-family: "Montserrat", sans-serif;
}

#iotalogo{
    float: left;
    width: 10.24em;
    height: 6em;
    margin-left: 3vw;
}

#iotalogo img{
    width: 100%;
    height: 100%;
}

#navigation{
    float: right;
    height: 6em;
    width: 30em;
    padding: 2.4em 0 1em;
    font-weight: bold;
    box-sizing: border-box;
}

#navigation ul{
    list-style: none;
    width: 80%;
    margin: 0 10%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navigation ul li{
    padding: 0.8em 1em;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
}

#navigation ul li:hover{
    background-color: #101b37;
}

#navigation ul li a{
    color: #fff;
}

#navigation ul li a:active{
    color: #1595ff;
}

#reg-button{
    float: right;
    width: 10em;
    height: 6em;
    box-sizing: border-box;
    padding: 2.2em 2.2em 1em;
}

#reg-button button{
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.5em;
    outline: none;
    padding: 0;
    font-size: inherit;
    color: #fff;
    border: none;
    background: #a11ec6;
    cursor: pointer;
}

#reg-button button:hover{
    color: #152347;
    background: #92eaff;
}

#banner{
    width: 100%;
    font-size: 2vw;
    background: url("../img/bg-left.png") left top no-repeat, url("../img/bg-right.png") right bottom no-repeat;
    background-size: contain;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

#logo{
    width: 55vw;
    height: 35vw;
}

#logo img{
    box-sizing: border-box;
    width: 90%;
    padding: 0 5%;
}

#data{
    width: 43vw;
    margin-top: 2em;
}

#data p{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

p#city{
    font-size: 3em;
    color: #ff00aa;
    text-shadow: 0.02em -0.02em 0.01em #ea02a1,
                 -0.02em -0.02em 0.01em #ea02a1;
}

p#time{
    font-size: 1.7em;
    color: #fdf922;
}

p#name{
    font-size: 1em;
    color: #fafafa;
    text-shadow: 1px -1px 2px #fff,
                 -1px -1px 2px #fff;
}

#about{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 4vw;
    margin: 0.5em 0;
}

#hacking{
    position: relative;
    width: 40%;
    height: 6em;
    margin: 0;
    background-blend-mode: overlay;
    background-color: #152347;
    background-image: url("../img/hacking.png");
    background-size: cover;
    opacity: 0.9;
    border-radius: 0.6em;
}

#hacking::before{
    content: "";
    position: absolute;
    bottom: -10%;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, rgba(21,35,71,0) 0%, rgba(21,35,71,1) 95%);
    width: 100%;
    height: 120%;
}

#about-heading{
    position: absolute;
    top: 1em;
    left: 1em;
    border-left: solid 0.1em #fdf922;
    padding: 0;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    padding-left: 0.25em;
}

#about-text{
    margin: 0;
    width: 55%;
    padding: 3em;
    box-sizing: border-box;
    text-align: justify;
    font-size: 0.3em;
    color: #fff;
    font-family: "Space Mono", monospace;
}

#agenda{
    font-size: 1.5vw;
    position: relative;
    background: url("../img/back-left.png") left top no-repeat, url("../img/back-right.png") right bottom no-repeat;
    margin: 2em 0;
}

#agenda #graph{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 0.25em;
    margin: 0 auto;
    background: #fdf922;
    height: 100%;
    border-radius: 1em;
}

#agenda #info{
    position: relative;
    padding: 1em;
    box-sizing: border-box;
    width: 30em;
    color: #fff;
    font-size: 0.8em;
    border-radius: 1em;
    font-family: "Space Mono", monospace;
}

#agenda #info strong{
    font-size: 1.2em;
    text-transform: uppercase;
    color: #000;
}

#agenda #info.right{
    background: linear-gradient(to right,#fe7f5d,#ff4284);
    border-top-left-radius: 0;
    left: 52%;
}

#agenda #info.left{
    background: linear-gradient(to left,#fe7f5d,#ff4284);
    border-top-right-radius: 0;
    left: 12%;
}

#agenda #info::before{
    content: "";
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    top: 0.278em;
    background: #fe7f5d;
    transform: rotate(45deg);
}

#agenda div.left::before{
    right: -0.6em;
}

#agenda div.right::before{
    left: -0.6em;
}

.heading{
    font-size: 2.2em;
    font-weight: lighter;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    box-sizing: border-box;
    padding-left: 1em;
    padding-bottom: 0.1em;
    position: relative;
}

.heading::before{
    content: "";
    height: 0.1em;
    width: 0.8em;
    position: absolute;
    bottom: 0;
    left: 1em;
    background: #fdf922;
}

.heading::after{
    content: "";
    height: 0.4em;
    width: 0.1em;
    position: absolute;
    bottom: 0;
    left: 1em;
    background: #fdf922;
}

#projects{
    width: 100%;
    font-size: 1.5vw;
    margin: 1em 0;
}

#projects p{
    font-family: "Space Mono", monospace;
    color: #fff;
    margin: 0;
    text-align: justify;
    padding: 2em 14em;
}

#footer{
    font-size: 1.1vw;
    margin: 0;
    margin-top: 3em;
    width: 100%;
    background: #1f2d4f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer img{
    height: 5em;
    width: 15em;
    margin-left: 1em;
    margin-right: 1em;
}

#footer div{
    text-align: right;
    height: 5em;
    padding: 1em 2em;
    color: #fff;
    box-sizing: border-box;
}