@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Space+Mono:700&display=swap');

body{
    margin: 0;
    padding: 0;
    background: #152347;
}

div{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

#navbar{
    width: 100%;
    height: 8rem;
}

#iotalogo{
    float: left;
    width: 12.8rem;
    height: 100%;
    margin-left: 3rem;
}

#iotalogo img{
    width: 100%;
    height: 100%;
}

#navigation{
    float: right;
    height: 100%;
    width: 60rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-weight: bold;
    font-family: "Space Mono", monospace;
}

#navigation ul{
    list-style: none;
    margin: 0;
    padding: 3.3em 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25em;
    box-sizing: border-box;
}

#navigation ul li{
    padding: 0;
    margin: 0;
    display: inline;
}

#navigation ul li a{
    color: #fff;
}

#navigation ul li a:active{
    color: #1595ff;
}

#reg-button{
    display: inline-block;
    width: 6.3em;
    height: 100%;
    box-sizing: border-box;
    padding: 1.7em 0.3em;
}

#reg-button button{
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.5em;
    outline: none;
    padding: 0;
    font-size: inherit;
    color: #fff;
    border: none;
    background: #a11ec6;
    cursor: pointer;
}

#reg-button button:hover{
    color: #152347;
    background: #92eaff;
}

#banner{
    width: 100%;
    height: 35vw;
    background: url("../img/bg-left.png") left top no-repeat, url("../img/bg-right.png") right bottom no-repeat;
    background-size: contain;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

#logo{
    width: 55%;
    height: 100%;
}

#logo img{
    box-sizing: border-box;
    width: 90%;
    padding: 0 10%;
}

#data{
    height: 100%;
    width: 40%;
    font-size: 2rem;
}

#data p{
    width: 100%;
    padding: 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

#city{
    margin: 0;
    margin-top: 0.5em;
    font-size: 3em;
    color: #ff00aa;
    text-shadow: 0.02em -0.02em 0.01em #ea02a1,
                 -0.02em -0.02em 0.01em #ea02a1;
}

#time{
    margin: 0;
    margin-top: 0.2em;
    font-size: 1.7em;
    color: #fdf922;
}

#name{
    margin: 0;
    margin-top: 1.5em;
    font-size: 1em;
    color: #fafafa;
    text-shadow: 1px -1px 2px #fff,
                 -1px -1px 2px #fff;
}

#about{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 4rem;
}

#hacking{
    position: relative;
    width: 40%;
    height: 25vw;
    margin: 0 5%;
    background-blend-mode: overlay;
    background-color: #152347;
    background-image: url("../img/hacking.png");
    background-size: cover;
    opacity: 0.8;
    border-radius: 1.5rem;
}

#hacking::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, rgba(21,35,71,0) 0%, rgba(21,35,71,1) 95%);
    width: 100%;
    height: 120%;
}

#about-heading{
    position: absolute;
    top: 20%;
    left: 20%;
    width: 75%;
    border-left: solid 0.12em #fdf922;
    padding: 0;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    padding-left: 0.25em;
    padding-top: 0.1em;
}

#about-text{
    margin: 0;
    width: 55%;
    padding: 5%;
    box-sizing: border-box;
    text-align: justify;
    height: 100%;
    font-size: 0.3em;
    color: #fff;
    font-family: "Space Mono", monospace;
}