#navbar{
    font-size: 2.4vw;
}

#navigation{
    float: none;
    clear: both;
    height: 3em;
    margin: 0 auto;
    padding: 0.2em 0 0.2em;
}

#banner{
    font-size: 3vw;
}

#logo{
    width: 65vw;
    height: 41.4vw;
}

#data{
    width: 70%;
    margin-top: 0;
}

#footer{
    justify-content: space-evenly;
    font-size: 2.4vw;
}

#projects{
    font-size: 2.4vw;
}

#projects p{
    padding: 2em 5em;
}