#navbar{
    font-size: 1.75vw;
}

#banner{
    font-size: 2.5vw;
}

#footer{
    font-size: 2vw;
}

#projects{
    font-size: 2vw;
}

#projects p{
    padding: 2em 8.5em;
}

#agenda{
    font-size: 2vw;
}

#agenda .info.left{
    left: 0.5%;
}

#agenda .info.right{
    left: 51.5%;
}

#about{
    font-size: 5.6vw;
}